.form__container-input {
    padding: 1em;
}

.form__input {
    width: 30%;
    padding: 1em;
    border: 1px solid var(--grey-text);
    border-radius: 7px;
    outline: none;
}

.form__input::placeholder {
    font-size: 1.1em;
}

.form__btn {
    padding: 1em;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: var(--red);

    color: #fff;
    font-weight: 500;
}